@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-50 text-stone-800;
  font-feature-settings: 'kern' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply scroll-smooth;
}

